.characters{
    
    width:300px;
    margin:10px auto;
    /*background:linear-gradient(to bottom right, brown,gray,white,brown);*/
    background-image: url('./stars.gif');
    color:rgb(104, 104, 226);
    
}

a{
    text-decoration: none;
    color:rgb(104, 104, 226);
}
/*.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-15deg, rgb(160, 77, 77),gray,white,rgb(160, 77, 77));
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
  }
  .bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
  }
  .bg3 {
    animation-duration: 5s;
  }
  @keyframes slide {
    0% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(25%);
    }
  }*/

  